
*{
  font-family: "Montserrat";
  font-weight: 600;
}

h1{
  font-family: "Gilroy";
  font-weight: 700;
}

.gilroy{
  font-family: "Gilroy";
}
.text-center{
  text-align:center;
}

.underline{
  text-decoration: underline;
}

p{
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 700;
  color: $theme-font-black;
}

button{
  &.theme{
    //backg
  }
  span{
    font-family: "Montserrat";
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

input, select{
  font-family: "Montserrat";
  font-weight: 600 !important;
  font-size: 0.8rem;
  color: $theme-font-black;
  letter-spacing: 0px !important;
}

.page-side-paddings{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.clear-bottom{
  padding-bottom: 10vh;
}

.ml-block-title{
  font-family: "Montserrat" !important;
  // letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900 !important;
  color: $text-grey !important;
  margin: 0;
  // padding:
}

.ml-spinner{
  .spinner-text{
    display: table;
    span{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-weight: 800;
    }
  }
  .spinner-controls{
    display: table;
    // padding-right: 0.5rem;
    a{

      display: table-cell;
      vertical-align: middle;
      text-align: center;

      i{
        font-size: 2.4rem;
      }

    }
  }



}

.ml-inline-radio{

  .radio-button-wrapper{
    display: table;
    // padding-right: 0.5rem;
    a{

      display: table-cell;
      vertical-align: middle;
      text-align: center;

      i{
        font-size: 2.6rem;
      }

      &.selected{
        i{
          border: 2px solid $theme-color;
          border-radius: 50%;

          font-size: 2.2rem;

        }
      }

    }
  }



}

.pac-container{
  z-index: 2000000 !important;
  // width: 100% !important;
}
