/*@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");*/
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Variable.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 900;
  src: url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-weight: bold;
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}