@import "variables";
@import "fonts";
@import "commons";


/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

html{
  font-size: 14px;
  overflow-x: hidden;
  user-select: none;
}
/* Custom color theme properties */
:root {
  --f7-theme-color: #fb686e;
  --f7-theme-color-rgb: 251, 104, 110;
  --f7-theme-color-shade: #fa3940;
  --f7-theme-color-tint: #fc8b90;
  font-size: 14px;

  /*input overrides*/
  --f7-input-outline-border-radius: 8px;
  //--f7-label-line-height: 2;
  --f7-input-outline-height: 3.5rem;
  --f7-input-outline-focused-border-color: var(--f7-theme-color);
  --f7-input-outline-border-color: #c0c0c0;
  --f7-input-info-font-size: 12px;
  --f7-label-line-height: 1.2;
  //--f7-label-font-weight: bold;
  //--f7-input-info-font-size: 20px;

  --f7-touch-ripple-black: rgba(76, 74, 75, 0.05);
  --f7-touch-ripple-white: rgba(255, 255, 255, 0.3);
  --f7-touch-ripple-color: var(--f7-touch-ripple-black);
  --f7-picker-item-selected-bg-color: rgba(192, 192, 192, 0.2);
  --f7-picker-item-selected-text-color: #000;
    --f7-picker-item-height: 60px;
}


/* Your app custom styles here */

.splash-bg {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  //border: 1px solid #000;
  background: url("../assets/splash-bg.png");
  background-color: $bg-color;
  background-size: cover;

  .logo-wrapper{

    display: inline-block;
    position: fixed;
    width:100%;
    top: 30%;
    text-align: center;

    img.logo{
      height: auto;
      max-width: 30%
    }

  }


  .splash-loader{
    //display: inline-block;
    position: fixed;
    width:100%;
    bottom: 10%;
    text-align: center;
  }

}
.page.grey-bg{
  background: url("../assets/splash-bg.png");
  background-color: $bg-color;
  background-size: cover;
}

.page.white-bg{
  .from-bottom{
    background: #fff;
    background: #fff;
  }
}

.auth-page{
  margin-top: 15vh;
  .logo-wrapper{
    padding: 1rem 1.5rem 0 1.5rem;
    img.logo{
      max-width: 30%;
    }
  }

  h1{
    font-size: 3rem;
    padding: 1rem 1.5rem 0 1.5rem;
    margin: 0;
    font-weight: bold;
    color: $theme-font-black;
  }
  p.subtext{
    font-family: "Montserrat";
    font-weight: 600;
    color: $text-grey;
    font-size: 1.2rem;
    margin:0;
    margin-top: -0.4rem;
    padding: 0rem 1.5rem 0 1.5rem;
  }

  .list{
    ul{
      background: transparent;
      &:before, &:after{
        background: none;
      }
      *{
        border: none;
      }
      li{

          padding-left: 1.5rem;
        padding-right: 1.5rem;
          input{
            background: $bg-color;
            font-family: "Montserrat";
            font-weight: 600;
            letter-spacing: 2px;
            //height: 3.2rem;

          }

        .item-inner{
          padding-top: 0;
          padding-bottom: 0;
          padding-right: 0;
        }
      }

      &.otp-group{
        padding:  0 1.5rem;
        li{
          padding: 2px;

          input{
            font-family: "Montserrat";
            font-weight: 600;
            letter-spacing: 2px;
            text-align: center;
          }
        }
      }
    }

    .item-input-outline {
      .item-floating-label{
        background: $bg-color;
        font-family: "Montserrat";
        font-weight: 800;
        //color: #e6e6e6;
        //noinspection CssInvalidFunction
        //transform: scale(var(--f7-floating-label-scale)) translateY(calc((var(--f7-input-height) / 2 + 60%) / var(--f7-floating-label-scale)));
      }
    }
  }

  .otp-label{
    //color: #626262;
    margin-top: 2vh;
  }

  &.header-sm{
    margin-top: 5vh !important;
    .logo-wrapper{
      .logo{
        max-width: 5rem;
      }
    }

    ul{
      li{
        input{
          text-align: left !important;
        }
      }
    }
  }

  .from-bottom{
    background: $bg-color;
  }
}

.button-wrapper{
  padding: 1.5rem;
  padding-top: 1rem;
  margin:0;
}

.button-theme{
  background: linear-gradient(to right, #FC7761, #FB6A6D, #FB686F);
}

.from-bottom{
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right:0;
  width: 100%;
  height: auto;

  p{
    margin:0;
    padding:0;
  }
}

.address-list{
  .address{

    &.active{
      .card {
        border: 2px solid $theme-color;
        .action-indicator{
        font-size: 1.3rem;
        color: $theme-color !important;
      }
    }
    }

    position: relative;
    overflow: hidden;
    margin: 0.6rem 0;
    &:first-child{
      margin-top: 2rem;
    }

    .card{
      margin: 0;
      margin-left:0;
      margin-right: 0;
      // padding: 0 !important;
      background: transparent;
      box-shadow: none;
      border-radius: 8px;
      border: 1px solid #ececec;
      font-size: 1rem;


      .card-header{
        font-family: "Gilroy";
        font-weight: 700;

        padding-bottom: 0rem;
      }
      .card-content{
        color: $text-grey;
        padding-top: 0rem;
        .contact{
          display: block;
          margin-top: 0.5rem;
          display: flex;
    justify-content: space-between;

    .action-indicator{
      font-size: 1.3rem;
      color: $text-grey;
    }

        }
      }

    }






  }
}

.address-map-page{
  height: 100vh;

  .map-search{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba;
    // margin: 1.5rem !important;
    z-index: 1;
    padding: 0;
    margin: 0;
    .row{
      margin: 1.5rem;
      background: #fff;

      padding: 0;

      box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.38);
      border-radius: 8px;

div{
  position: relative;
    // display: inline-block;
    // height: 100%;
    &.back-button-wrapper{
        position: absolute;
        // overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-20%, 30%);
        // background: #000;
        // width: 100%;
        // height: 100%;
        // margin: 0;
        // padding: 0;
        display: inline-block;
        height: 3.5rem;
        i{
          font-size: 1.6rem;
        }
    }
  input{
    height: 3.5rem;
    // background: #000;
    width: 100%;
    color: $theme-font-black;

  }
}


    }

  }

  .map-wrapper{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
  }

.sheet-bottom{

  z-index: 999;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  .addr-form-wrapper{
    position: relative;
    margin: 1rem;
    background: #fff;
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.38);
    border-radius: 8px;
    padding: 1rem;

  .address-text{
    color: $theme-font-black ;
    font-weight: 800;
    font-size: 0.9rem;
    margin: 0.5rem 0;
    }

    .action-indicator-wrapper{
      position: relative;
      display: table;


      .action-indicator{
        // overflow: hidden;
        display: block;
        text-align: right;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        i{
          font-size: 3rem;
        }
      }
    }

    .list{
      margin: 0;
      .item-content{
        // margin: 0;
        margin-top: 0.5rem;
        padding: 0;
        .item-inner{
          margin: 0;
          padding: 0;
        }
      }
      &:nth-child(3){
        margin-top: 1rem;

        .item-content{
          &:nth-child(1){
            padding-right: 0.5rem;
          }
          &:nth-child(2){
            padding-left: 0.5rem;
          }
        }
      }

      &:nth-child(4){
        margin-top: 1rem;
      }

      &:nth-child(5){
        margin-top: 1rem;
      }
    }

    .item-input-error-message{
      display: none;
    }

  }
}

.item-input-with-value, .item-input-focused{
  .ml-block-title{
    font-size: 0.8rem !important;
  }
}

.button-wrapper{
  padding: 1rem 0 0 0;
}

}

.tabbed-pages{
  .navbar{

.navbar-inner{
    padding: 1rem;
      .current-location{
        i{
          color: $theme-color;
          font-size: 2.5rem;
          display: inline-block;
        }
        .location-label{
          padding: 0 0 0 0.5rem;
          margin: 0;
          display: table;
          vertical-align: middle;

          .title{
            margin: 0;
            font-size: 1rem !important;
            font-family: "Gilroy";
            font-weight: bold;
            display: table-row;
            text-overflow: ellipsis;
            white-space: nowrap;

            i{
              font-size: 0.8rem;
              color: $theme-font-black;
              font-weight: bold;
            }
          }

          .address{
            margin: 0;
            padding: 0;
            display: table-row;
            font-size: 0.7rem !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
          }

        }
      }

      .help-wrapper{
        // background: #000;
        i{


          font-size: 1.6rem;
        }
        span{
          // background: #000;

          padding: 0 0 0 0.5rem;
          margin: 0;
          font-size: 0.8rem;
          font-family: "Montserrat";
          font-weight: bold;

        }
      }
  }
  }
}
