<template>
<div class="page tabbed-pages">
  
  <div class="navbar">
    <div class="navbar-inner">



          <div class="left current-location ripple">
            <i class="f7-icons">location_circle_fill</i>
            <div class="location-label">
              <span class="title">Aunt's Place <i class="f7-icons">chevron_down</i></span>
              <span class="address">5th floor, 402, Sri Sai Golden...</span>
            </div>
          </div>

          <div class="right help-wrapper ripple">
            <i class="f7-icons">headphones</i>
            <span>HELP</span>
          </div>
    </div>
  </div>
  
  </div>
</template>
  
<script>
  export default (props, {
    $f7,
    $update,
    $on
  }) => {

    return $render;
  }
</script>
