<!-- <template> -->
<div class="page tabbed-pages">


    <div class="tabs tabs-routable">
      <div class="tab" id="home-tab">
         
      </div>

      <div class="tab" id="subscription-tab">jhi</div>
      <!-- <div class="tab page-content" id="tab-3">hi</div> -->
    </div>

    <div class="toolbar tabbar toolbar-bottom">
      <div class="toolbar-inner">
        <!-- additional "data-route-tab-id" must match to tab's ID in the specified routes -->
        <a href="/home" class="tab-link" data-route-tab-id="home-tab">Home</a>
        <a href="/home/subscription" class="tab-link" data-route-tab-id="subscription-tab">My Meals</a>
        <!-- <a href="/home/notificatons" class="tab-link" data-route-tab-id="tab-3">Notifications</a> -->
        <!-- <a href="/home/wallets" class="tab-link" data-route-tab-id="tab-4">Wallets</a> -->
        <!-- <a href="/home/profile" class="tab-link" data-route-tab-id="tab-5">Profile</a> -->
      </div>
    </div>
    <!-- Additional "tabs-routable" is required on tabs -->

  </div> 
  <!-- </template> -->
<script>
  export default (props, {
    $f7,
    $update,
    $on
  }) => {

    return $render;
  }
</script>
