<template>
<div class="page tabbed-pages">
  
  hi this is sub page
  
  </div>
  </template>
<script>
  export default (props, {
    $f7,
    $update,
    $on
  }) => {

    return $render;
  }
</script>
